.header {
  background-color: #010E28;
  display: flex;
  color: #fff;
  justify-content: space-around;
}


.features {
  display: flex;
  margin-top: 25px;
}

.features p {
  margin-right: 24px;
  font-weight: 400;
  opacity: 0.5;
  height: 20px;
}

.home {
  opacity: 1 !important;
  border-bottom: 1px solid #E7267A;
}

.lang {
  display: flex;
  margin-top: 25px;
}

.search {
  margin-top: 15px;
  margin-right: 50px;
}

.language {
  margin-top: 15px;
  margin-right: 15px;
}

.ar p {
  margin-right: 40px;
  opacity: 1;
}